.all {
  display: flex;
  min-height: 100vh;
  background-color:var(--clr-white);
  /* color: #111827; */
}

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: auto;
  width: 100%;
}

.mainContainer {
  width: 80rem;
  display: flex;
  flex-direction: column;
  margin-left: auto; 
  margin-right: auto;
  padding: 32px 64px;
  gap: 2rem;
  align-items: center; 
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  align-items: center;
}

.notiHeader {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.notiTitle {
  font-size: var(--fs-tittle);
  font-weight: var(--fw-title);
  margin: 0;
  color: var(--clr-black);
}

.notiDescription {
  color: var(--clr-text-muted);
  font-size: var(--fs-sm);
  /* font-weight: 500; */
}

.markReadButton {
  padding: 0.75rem 1.5rem;
  background: #f3f4f6;
  color: var(--clr-primary);
  border-radius: var(--rad);
  font-size: var(--fs-xs);
  font-weight: var(--fw-h4);
  transition: all 0.3s ease;
  cursor: pointer;
  height: fit-content;
}

.markReadButton:hover {
  background: #e5e7eb;
}

@media (min-width: 768px) {
  .signalsHeader {
    flex-direction: row;
    align-items: flex-end;
  }
}

.filterContainer {
  background: rgba(243, 244, 246, 0.5); 
  padding: 0.25rem;
  border-radius: var(--rad);
  display: flex;
  gap: 0.25rem;
  max-width: 100%;
  width: fit-content;
  justify-content: center;
  justify-items: center;
}

.filterButton {
  padding: 0.625rem 1.5rem;
  border-radius: var(--rad);
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.05em;
  transition: all 0.3s ease;
  border: none;
  cursor: pointer;
  background: transparent;
}

.filterActive {
  background: #ffffff;
  color: var(--clr-primary);
  box-shadow: var(--shadow-sm);
}

.filterInactive {
  color: #6b7280;
}

.filterInactive:hover {
  color: var(--clr-primary);
}

.notificationList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.icon {
  height: 1.25rem;
  width: 1.25rem;
}

/* Icon Colors */
.iconBlue {
  color: var(--clr-primary-light);
}


.iconSeen {
  color: #4b5563;
}

.bgDefault {
  background-color: #f3f4f6;
}

.card {
  /* position: relative; */
  padding: 1.5rem;
  border-radius: var(--radius-lg);
  border: 1px solid;
  transition: all 0.3s ease;
  width: 100%;
}

.cardNew {
  background: #ffffff;
  border-color: #eff6ff;
  box-shadow: var(--shadow-sm);
}

.cardOld {
  background: rgba(245, 247, 248, 0.663);
  border-color: transparent;
}

.cardContent {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.iconWrapper {
  height: 3rem;
  width: 3rem;
  border-radius: var(--rad);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardBody {
  flex: 1;
  width: 100%;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 0.25rem;
}

.title {
  font-size: 15px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 2rem;
  letter-spacing: -0.01em;
}

.titleNew{
    color: var(--clr-black);
}

.titleOld{
    color: #303539cd;
}

.newBadge {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  flex-shrink: 0;
}

.newDot {
  height: 0.375rem;
  width: 0.375rem;
  border-radius: 9999px;
  background: var(--clr-live);
}

.newText {
  font-size: 9px;
  font-weight: 900;
  color: var(--clr-live);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.description {
  font-size: 0.875rem;
  color: var(--clr-text-muted);
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: var(--space-sm);
}

.footer {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.time {
  display: flex;
  align-items: center;
  gap: 0.375rem;
  font-size: 10px;
  font-weight: 700;
  color: #9ca3af;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.timeIcon {
  height: 0.75rem;
  width: 0.75rem;
}

.actionButton {
  font-size: 10px;
  font-weight: 900;
  color: #1d4ed8;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
  background: none;
  border: none;
}

.actionButton:hover {
  text-decoration: underline;
}

.notificationWrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem; /* space-y-4 */
  min-height: 400px;
  width: 100%;
}

.emptyState {
  padding: 5rem 0; /* py-20 */
  text-align: center;
  border-radius: var(--rad);
}

.emptyText {
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--clr-text-muted);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 0 1rem;
}