.all {
  min-height: 100vh;
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
}

.container {
  width: 80%;
  display: flex;
  /* flex-direction: column; */
  margin-left: auto; 
  margin-right: auto;
  padding: 32px 65px;
  gap: 5rem; 
}

.backLink{
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  background: none;
  border: none;
  cursor: pointer;
  color: var(--clr-text-muted);
  font-size: var(--fs-sm);
  margin-bottom: 1rem;
}
.backLink:hover{
  color: var(--clr-primary);
}


.mainContent{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 85%;
}

.balanceHeader {
  margin-bottom: 40px;
  text-align: left;
}

.label {
  color: var(--clr-primary);
  font-weight: var(--fw-title);
  font-size: var(--fs-xs);
  text-align: left;
}

.balanceValue {
  font-size: 42px;
  font-weight: var(--fw-title);
  color: var(--clr-foreground);
  margin: 0;
}

.subtext {
  color: var(--clr-text-muted);
  font-size: var(--fs-xs);
  margin-top: 15px;
}

/* Stepper Section */
.stepSection {
  width: 100%;
  margin-bottom: 40px;
}

.stepTitle {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
}

.stepNumber {
  background: var(--clr-primary);
  color:var(--clr-white);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs-xs);
  font-weight: var(--fw-title);
}

.stepTitle h3 {
  font-size: var(--fs-sm);
  font-weight: var(--fw-title);
  margin: 0;
  color: var(--clr-foreground);
}

/* Amount Grid */
.amountGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin-bottom: 20px;
}

.amountBtn {
  padding: 14px;
  border: 1px solid var(--clr-border);
  background:var(--clr-white);
  color: var(--clr-foreground);
  border-radius: var(--rad);
  font-weight: var(--fw-h4);
  cursor: pointer;
  transition: all 0.2s;
}

.activeAmount {
  border-color: #005a92;
  color: #005a92;
  background-color: #f0f7ff;
}

/* Custom Input */
.customInputWrapper label {
  width: 100%;
  font-size: var(--fs-live);
  font-weight: var(--fw-h4);
  color: var(--clr-text-muted);
  display: block;
  margin-bottom: 5px;
  /* padding-left: 15px; */
  text-align: left;
}

.inputField {
  display: flex;
  align-items: center;
  background: var(--clr-input);
  padding: 12px 16px;
  border-radius: var(--rad);
  gap: 10px;
}

.inputField span {
  color: var(--clr-text-muted);
  font-weight: 600;
}

.inputField input {
  background: transparent;
  border: none;
  outline: none;
  font-weight: var(--fw-h4);
  width: 100%;
}

.inputField input::placeholder{
  color: var(--clr-text-muted);
}

/* Method Grid */
.methodGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-md);
}

.methodCard {
  /* width: 250px; */
  border: 1px solid var(--clr-border);
  padding: 10px;
  border-radius: var(--rad);
  display: flex;
  align-items: center;
  /* gap: 12px; */
  cursor: pointer;
  position: relative;
}

.selectedMethod {
  border-color: #005a92;
  background-color: #f0f7ff;
}

.methodIcon{
  margin: 0 10px;
  /* background-color: var(pr); */
  padding: 8px 8px 4px 8px;
  border-radius: 5px;

}

.meticon{
  size: 24px;
  color: var(--clr-primary);
}

.methodText{
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0px;
}

.methodName {
  font-weight: 700;
  font-size: 14px;
  padding: 0;
  color: var(--clr-foreground);
}

.methodSub {
  font-size: 11px;
  color: var(--clr-text-muted);
  margin: 0px 0 0 0;
}

.checkIcon {
  position: absolute;
  right: 12px;
  color: var(--clr-primary);
  font-size: 12px;
}

/* Sidebar / Summary */
.sidebar {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.safetyCard {
  display: flex;
  flex-direction: column;
  background: var(--clr-white);
  padding: 10px 20px;
  border-radius: 16px;
  border-left: 4px solid var(--clr-primary);
  text-align: left;
}

.safetyLabel {
  font-size: var(--fs-live);
  font-weight: var(--fw-h4);
  color: var(--clr-primary);
}

.safetyValue {
  font-weight: var(--fw-title);
  font-size: var(--fs-xs);
  margin: 4px 0;
  color: var(--clr-foreground);
}

.safetySub {
  font-size: var(--fs-live);
  color: var(--clr-text-muted);
}

.summaryCard {
  background: var(--clr-white);
  border: 1px solid var(--clr-border);
  border-radius: var(--radius-lg);
  padding: var(--space-lg);
  box-shadow:var(--shadow-md);
  text-align: left;
}

.summaryCard H3 {
  color: var(--clr-foreground);
  font-weight: var(--fw-title);
  font-size: var(--fs-md);
  margin-bottom: 20px;
}

.summaryRow {
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-sm);
  margin-bottom: 12px;
  color: var(--clr-text-muted);
}

.freeText {
  color: #d9534f;
  font-weight: 700;
}

.totalRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 24px 0;
  padding-top: 20px;
  border-top: 1px dashed var(--clr-border);
}

.totalLabel p {
  margin: 0;
  font-weight: var(--fw-h4);
  /* line-height: 1.1; */
  font-size: var(--fs-base);
  color: var(--clr-foreground);
}

.totalAmount {
  font-size: 24px;
  font-weight: 800;
  color: var(--clr-primary);
}

.infoBox {
  background: #f0f7ff;
  padding: 15px;
  border-radius: var(--rad);
  font-size: var(--fs-live);
  color: var(--clr-primary);
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
}

.btnDeposit {
  width: 100%;
  background: var(--clr-primary);
  color: var(--clr-white);
  border: none;
  padding: 16px;
  border-radius: var(--rad);
  font-weight: var(--fw-h4);
  font-size: var(--fs-sm);
  cursor: pointer;
}

.secureText {
  text-align: center;
  font-size: 10px;
  color: #adb5bd;
  margin-top: 12px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.secureText p {
  line-height: 15px;
}

.helpCard {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
  background: var(--clr-white);
  border-radius: var(--rad);
  text-align: left;
}

.helpTitle {
  font-size: var(--fs-xs);
  font-weight: var(--fw-h4);
  /* margin-top: 10px; */
  /* line-height: 5px; */
}

.helpSub {
  font-size: var(--fs-live);
  color: var(--clr-text-muted);
  margin: 0px 0 0 0;
}

@media (max-width: 768px) {
  .container{
    padding: 16px;
    width: 100%;
    gap: .5rem;
    flex-direction: column;
  }

  .mainContent{
    width: 100%;
  }

  .balanceValue{
    font-size: 36px;
  }

  .customInputWrapper{
    width: 100%;
  }

  .inputField{
    width: 100%;
  }

  .amountGrid{
    grid-template-columns: repeat(2,1fr);
  }
  
  .stepSection{
    margin-bottom: 20px;
  }
  .sidebar{
    margin-top: 0;
  }

  .totalRow{
    margin: 12px 0;
    padding: 10px 0;
  }

  .summaryCard{
    padding: var(--space-md);
  }

  .totalLabel{
    text-wrap: nowrap;
  }

  .totalAmount{
    font-size: 22px;
  }

  .methodCard{
    padding: 8px;
  }
  .methodIcon{
    padding: 4px 4px 2px;
    margin-left: 0;
    padding-right: 3px;
  }

  .methodGrid{
    gap: var(--space-sm);
  }
}