.card {
  background: white;
  border-radius: var(--radius-lg);
  overflow: hidden;
  border: 1px solid #f3f4f6;
  box-shadow: 0 20px 40px rgba(0,0,0,0.08);
  display: flex;
  flex-direction: column;
}

.header {
  position: relative;
  height: 14rem;
  background: var(--clr-black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.liveBadge {
  position: absolute;
  top: 1rem;
  left: 1rem;
  background: var(--clr-live);
  color: white;
  font-size: var(--fs-live);
  font-weight: var(--fw-h4);
  padding: 4px 10px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  gap: 6px;
}



.dot {
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--clr-white);
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.3; }
}

.image {
  width: 100%;
  height: 100%;
  object-fit:cover;
  transition: all 0.5s;
}

.timeBox {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  background: rgba(0,0,0,0.75);
  color: var(--clr-white);
  padding: 6px 10px;
  border-radius: var(--rad);
  font-size: var(--fs-live);
  display: flex;
  align-items: center;
  gap: 6px;
}

.content {
  padding: var(--space-lg);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.title {
  font-size: var(--fs-md);
  font-weight: bold;
  color: var(--clr-black);
  /* margin-bottom: 1rem; */
  transition: color 0.3s;
}

.metaRow {
  display: flex;
  gap: 8px;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.metaBoxBlue {
  background: #eff6ff;
  padding: 6px 10px;
  border-radius: var(--rad);
}

.metaBoxGray {
  background: #f9fafb;
  padding: 6px 10px;
  border-radius: var(--rad);
}

.label {
  font-size: 8px;
  font-weight: var(--fw-h4);
  text-transform: uppercase;
  color: var(--clr-primary);
}

.value {
  font-size: 12px;
  font-weight: bold;
  color: var(--clr-primary);
}

.location {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 1rem;
  font-size: 12px; 
  max-width: 100%;
}

.icon {
  width: 13px;
  height: 13px;
  color: var(--clr-primary);
  margin-top: -1px;
}

.loc{
  width: 90%;
  text-wrap: wrap;
}

.priceRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.priceLabel{
  font-size: var(--fs-xs);
}

.price{
  font-size: var(--fs-base);
  font-weight:  600;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: .5rem;
  background: var(--clr-primary);
  color: white;
  border-radius: var(--rad);
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1rem;
  cursor: pointer;
  font-size: 16px;
}

.button:hover {
  background: var(--clr-primary-hover);
}