.container {
  background-color: #f9fafb;
  border-radius: var(--rad);
  padding: 16px;
  margin-bottom: 32px;
  border: 1px solid var(--clr-border);
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-items: center;
  justify-content: space-between;
}

/* responsive lg:flex-row */
@media (min-width: 1024px) {
  .wrapper {
    flex-direction: row;
  }
}

/* columns */
.colQuarter { width: 100%; }
.colThird { width: 100%; }
.colAuto { width: 100%; }

@media (min-width: 1024px) {
  .colQuarter { width: 20%; }
  .colThird { width: 20%; }
  .colAuto { width: auto; }
}

/* label */
.label {
  display: block;
  font-size: 10px;
  font-weight: var(--fw-h4);
  color: #9ca3af;
  text-transform: uppercase;
  margin-bottom: 4px;
  margin-left: 2px;
}

/* select */
.selectWrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.select {
  appearance: none;
  width: 100%;
  background-color: white;
  border: 1px solid #e5e7eb;
  border-radius: var(--rad);
  padding: 12px 16px;
  font-size: var(--fs-sm);
  color: #374151;
  cursor: pointer;
  transition: all 0.2s ease;
  height: 45px;
}

.select:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--clr-primary);
}

/* chevron */
.chevron {
  position: absolute;
  margin-right: 8px;
  top: 50%;
  transform: translateY(-50%);
  height: 16px;
  width: 16px;
  color: var(--clr-primary);
  cursor: pointer;
  pointer-events: none;
}

/* price range */
.range {
  display: flex;
  align-items: center;
  gap: 12px;
}

.input {
  width: 100%;
  background-color: var(--clr-white);
  border: 1px solid #e5e7eb;
  border-radius: var(--rad);
  padding: 12px 16px;
  font-size: var(--fs-sm);
  color: #374151;
  height: 45px;
}

.input:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--clr-primary);;
}

.dash {
  color: #d1d5db;
}

/* status */
.statusWrapper {
  display: flex;
  justify-content: space-around;
  background-color: rgba(229,231,235,0.5);
  border-radius: var(--rad);
  height: 45px;
}

.activeBtn {
  padding: 8px 8px;
  font-size: var(--fs-sm);
  border-radius: var(--rad);
  background-color: var(--clr-primary);
  color: var(--clr-white);
  border: none;
  cursor: pointer;
  /* height: 45px; */
}

.inactiveBtn {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  border-radius: var(--rad);
  color: #6b7280;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: all 0.2s ease;
}

.inactiveBtn:hover {
  background-color: white;
}

/* apply button */
.applyBtn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 45px;

  padding: 10px 24px;
  background-color: var(--clr-primary);;
  color: var(--clr-white);
  border-radius: var(--rad);
  font-weight: var(--fw-h4);
  font-size: var(--fs-sm);

  border: none;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-top:20px;
}

.applyBtn:hover {
  background-color: var(--clr-primary-hover);
}

/* responsive button */
@media (min-width: 1024px) {
  .applyBtn {
    width: auto;
  }
}

.filterIcon {
  height: 16px;
  width: 16px;
}